
<div class="pagination">
    <div class="list-page">
        <ul class="post-data">
            <li><a>第 {{ current_page }} - {{ last_page }} 页</a> <a>共 {{ count }} 条</a></li>
        </ul>
    </div>
    <ul>

        <li {% if current_page == 1 %}class="active"{% endif %}><a href="?page=1">首页</a></li>
        <li {% if current_page >= 2 %} {% else %}class="active"{% endif %}><a href="?page={{ current_page|add:-1 }}">上一页</a></li>
        <li {% if current_page < last_page %} {% else %}class="active"{% endif %}><a href="?page={{ current_page|add:1 }}">下一页</a></li>
        <li {% if current_page == last_page %}class="active"{% endif %}><a href="?page={{ last_page }}">尾页</a></li>
    </ul>
</div>
